@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Insured>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>Resultado de la Consulta</h1>

<table>
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre(s)</th>
            <!-- Agrega más columnas según tus datos -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Identification</td>
                <td>@item.Name</td>
                <!-- Agrega más columnas según tus datos -->
            </tr>
        }
    </tbody>
</table>

